* {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.wrapper {
  width: 1300px;
  font-family: sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content-space {
  margin: 15px;
}

header {
  background-image: url(../images/HeaderBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.nav-menu {
  height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(to top,  black -80px, transparent 100%);
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-block {
  width: 560px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-menu-left {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-right {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  font-size: 16px;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #f5d76e;
}

.logo {
  display: block;
  width: 154px;
  height: 127px;
  background-image: url(../images/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 35px;
}

.welcome-block {
  margin-top: 170px;
  margin-left: 160px;
  width: 485px;
}

.welcome-title {
  font-size: 48px;
  color: #f5d76e;
  font-weight: normal;
}

.welcome-text {
  margin: 25px auto 35px 0px;
  font-size: 16px;
  color: white;
}

.see-menu-button {
  width: 187px;
  height: 52px;
  border: 1px white solid;
  color: white;
  background-color: transparent;
  font-size: 13px;
  text-transform: uppercase;
}

.see-menu-button:hover {
  box-shadow: 2px 2px 4px lightgrey;
}

.see-menu-button:focus {
  outline: none;
  box-shadow: 2px 2px 6px #f5d76e;
}

.block-title {
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 75px 0 40px;
  font-weight: normal;
}

.about-us-text {
  color: black;
  text-align: center;
  font-size: 16px;
  width: 750px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.coffee-icon {
  display: block;
  width: 39px;
  height: 39px;
  background-image: url(../images/CoffeeIcon.png);
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-section {
  display: block;
  width: 396px;
  list-style-type: none;
}

.menu-picture {
  background-repeat: no-repeat;
  background-position: center;
  width: 396px;
  height: 295px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}

.coffee-menu-picture {
  background-image: url(../images/CupOfCoffee.png);
}

.tea-menu-picture {
  background-image: url(../images/CupOfTea.png);
}

.desert-menu-picture {
  background-image: url(../images/Dessert.png);
}

.assortment {
  display: block;
  width: 235px;
  margin: 40px auto 55px;
}

.position {
  font-size: 16px;
}

.name {
  display: block;
  width: 185px;
}

.see-full-menu {
  width: 232px;
  height: 52px;
  border: 1px black solid;
  color: black;
  background-color: transparent;
  font-size: 13px;
  display: block;
  margin: 0 auto 65px;
}

.see-full-menu:hover {
  box-shadow: 2px 2px 4px lightgrey;
}

.see-full-menu:focus {
  outline: none;
  box-shadow: 2px 2px 6px #f5d76e;
}

.testimonial-block {
  display: flex;
  height: 424px;
  background-color: #39312f;
  margin-bottom: 75px;
}

.left-testimonial-block {
  width: 811px;
  background-image: url(../images/CoffeePhoto01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-picture-1 {
  background-image: url(../images/CoffeePhoto01.png);
}

.testimonial-picture-2 {
  background-image: url(../images/CoffeePhoto02.png);
}

.testimonial-picture-3 {
  background-image: url(../images/CoffeePhoto03.png);
}

.testimonial-picture-4 {
  background-image: url(../images/CoffeePhoto04.png);
}

.right-testimonial-block {
  width: 459px;
  position: relative;
}

.testimonial-number {
  font-size: 90px;
  color: #433c3b;
  padding: 20px;
}

.people-block {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.human-photo {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.human-photo-1 {
  background-image: url(../images/man1.png);
}

.human-photo-2 {
  background-image: url(../images/man2.png);
}

.human-photo-3 {
  background-image: url(../images/man3.png);
}

.human-photo-4 {
  background-image: url(../images/man4.png);
}

.human-name {
  margin: 20px auto;
  text-align: center;
  color: #f5d76e;
  font-size: 20px;
}

.testimonial {
  color: white;
  text-align: center;
  font-size: 16px;
}

.pagination-drops {
  width: 56px;
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
}

.drop {
  list-style-type: none;
  border: 1px white solid;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  background: transparent;
}

.drop-background {
  background-color: white;
}

.drop:hover {
  box-shadow: 2px 2px 6px #f5d76e;
  cursor: pointer;
}

.quotes {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fa-quote-right {
  font-size: 90px;
  color: #433c3b;
}

.location {
  display: flex;
}

.left-location-block {
  color: black;
  background-color: #f5d76e;
  width: 458px;
}

.right-location-block {
  width: 812px;
  height: 425px;
  background-image: url(../images/Map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.full-lacation {
  margin: 50px;
  width: 300px;
  height: 325px;
}

.location-item {
  list-style-type: none;
  display: block;
}

.location-name {
  font-size: 20px;
  text-transform: uppercase;
}

.location-description {
  margin: 25px 0;
}

.day {
  width: 100px;
  height: 30px;
}

footer {
  background-color: #39312f;
  padding: 95px 0 145px;
}

.social-networks {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.network {
  list-style-type: none;
}

.network-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.network-link:hover {
  color: #f5d76e;
}

.footer-adress {
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 35px;
}
